*{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

img{
  width: 70%;
  margin-left: 15px;
}

#showcase {
  text-align: center;
  background-image:url('img/computer.jpg');
  background-size:cover;
  background-position: center;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#showcase2 {
  text-align: center;
  background-image:url('img/encryption.jpg');
  background-size:cover;
  background-position: center;
  height:50vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  background-color: #101024;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.container a{
  color: white;
  text-decoration: none;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  padding: 30px;
  color: white;
}

.text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 30px;
  color: white;
}

.text2 a {
  text-decoration: underline;
  color: white;
}
.text a {
  text-decoration: underline;
  color: white;
}

h3 {
  color: white;
}

@media (max-width:800px) {
  .text {
    flex-direction: column;
  }
  img {
      margin-left: 0px;
  }
}

.button{
  margin-top: 10px;
  border-radius: 3px;
}

#top{
  margin-top: 50px;
  font-size: 25px;
}

.button a {
  text-decoration: none;
  background-color: #eea51e;
  transition: 0.3s;
  padding: 5px 10px;
  color: #101024;
  border-radius: 3px;
}

.button a:hover{
  background-color: #ffbc40;
  transition: 0.3s;
  padding: 5px 10px;
  color: #101024;
  border-radius: 3px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px 60px;
  background-color: #101024;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 35px 60px;
  background-color: #101024;
}

#color{
  background-color: #1b1b2e;
}

.purchase {
  text-decoration: none;
  justify-content: space-around;
  text-align: center;
  display: flex;
  color: #101024;
  flex-direction: row;
  padding: 30px;
  background-color: #1b1b2e;
}

.box {
  flex-grow: 1;
  border-radius: 3px;
  background-color: lightgrey;
  padding: 20px 70px;
  font-size: 30px;
  margin: 10px;
}

.box h4{
  color: #4281f5;
  font-size:20px;
}

.box .button a{
  font-size:20px;
  background-color: #eea51e;
  padding: 5px 20px;
}

.box .button a:hover{
  background-color: #ffbc40;
  transition: 0.2s;
  padding: 5px 20px;
  color: #101024;
  border-radius: 3px;
}

.box p {
  font-size:15px;
  color:grey;
}

@media (max-width:800px) {
  .purchase {
    flex-direction: column;
  }
}

.button2{
  margin-top: 10px;
  border-radius: 3px;
  font-size: 20px
}

.button2 a {
  background-color: lightgrey;
  border: 1px solid grey;
  transition: 0.2s;
  padding: 5px 20px;
  color: grey;
  border-radius: 3px;
}

.button2 a:hover{
  background-color: darkgrey;
  transition: 0.2s;
  padding: 5px 20px;
  color: #101024;
  border-radius: 3px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 50px 30px 30px 30px;
  color: white;
}
