*{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}

img{
  width: 100%;
}

#showcase {
  text-align: center;
  background-image:url('img/computer.jpg');
  background-size:cover;
  background-position: center;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  color: #fce7c7;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  background-color: #101024;
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.container a{
  color: white;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 30px;
  margin: 50px 0px;
  color: white;
}

h3 {
  color: white;
}

@media (max-width:800px) {
  .text {
    flex-direction: column;
  }
}

.button{
  margin-top: 10px;
}

.button a {
  background-color: #3ea1d6;
  transition: 0.3s;
  padding: 5px 10px;
  color: #101024;
}

.button a:hover{
  background-color: #83ccf2;
  transition: 0.3s;
  padding: 5px 10px;
  color: #101024;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 50px;
  background-color: #101024
}
